<!doctype html>
<style>
form { margin: auto; width: 35%;}
.result { margin: auto; width: 35%; border: 1px; solid #ccc}
</style>
<head> 
	<title> Прогнозирование свойств </title>
</head>
<form action = "{{url_for('main')}}" method = "POST">
	<fieldset>
		<legend> Введите значение Плотность, кг/м3 </legend>
		Например, 1974 
		<input name = "experience1" type = "number" required>

		<legend> Введите значение Модуля упругости, ГПа </legend>
		Например,  738 
		<input name = "experience2" type = "number" required>

		<legend> Введите значение % Отвердителя </legend>
		Например  110
		<input name = "experience3" type = "number" required>

		<legend> Введите значение % Эпокс. группы </legend>
		Например  22
		<input name = "experience4" type = "number" required>

		<legend> Введите значение Температура вспышки </legend>
		Например 286
		<input name = "experience5" type = "number" required>

		<legend> Введите значение Поверхностная плотность, г/м2 </legend>
		Например 482
		<input name = "experience6" type = "number" required>

		<legend> Введите значение Модуль упругости при растяжении </legend>
		Например 73
		<input name = "experience7" type = "number" required>

		<legend> Введите значение Прочность при растяжении, МПа </legend>
		Например 2467
		<input name = "experience8" type = "number" required>

		<legend> Введите значение Потребление смолы, г/м2 </legend>
		Например 217
		<input name = "experience9" type = "number" required>

		<legend> Введите значение Угол нашивки, град </legend>
		Например 1
		<input name = "experience10" type = "number" required>

		<legend> Введите значение Шаг нашивки </legend>
		Например 7
		<input name = "experience11" type = "number" required>

		<legend> Введите значение Плотность нашивки </legend>
		Например 57
		<input name = "experience12" type = "number" required>

		<br>
<br>
<br>
<input type="submit" value="Отправить на расчёт соотношения матрица\наполнитель">
</fieldset>
</form>

<div class = "result" align = "center"></div>
	{% if result %}
	<br>
	<p style="font-size:30px">
	Прогнозное значение матрица\наполнитель
	</p>
	<p style="font-size:50px"> {{result}}
</p>
{% endif %}
</div>









