<!doctype html>
<html lang="ru">
<head> 
	<meta charset="utf-8" />
	<title> Прогнозирование свойств композитов </title>
</head>
<body>
<tr><td>
<h1 align = "center">  Прогноз соотношения матрица/наполнитель: </h1>
		


<table align="center" bgcolor="#FFFFFF" border="6" cellpadding="5" cellspacing="5" width = "900px">
<tr><th> Ввод данных </th><th>Результат расчёта</th></tr> <!--ряд с ячейками заголовков-->

<tr><td>
<form action = "{{url_for('main')}}" method = "POST">

	<fieldset>
		<legend> Введите значение Плотность, кг/м3  </legend>
		В диапазоне от 1790 до 2160  
    	<input name = "experience1" placeholder="Например, 1974" type = "number" required>  

		<legend> Введите значение Модуля упругости, ГПа </legend>
		В диапазоне от    3 до 1600
		<input name = "experience2" placeholder="Например,  738" type = "number" required>

		<legend> Введите значение % Отвердителя </legend>
		В диапазоне от    40 до 180
		<input name = "experience3" placeholder="Например  110" type = "number" required>

		<legend> Введите значение % Эпокс. группы </legend>
		В диапазоне от     16 до 27
		<input name = "experience4" placeholder="Например  22" type = "number" required>

		<legend> Введите значение Температура вспышки </legend>
		В диапазоне от   180 до 385
		<input name = "experience5" placeholder="Например 286" type = "number" required>

		<legend> Введите значение Поверхностная плотность, г/м2 </legend>
		В диапазоне от    2 до 1290
		<input name = "experience6" placeholder="Например 482" type = "number" required>

		<legend> Введите значение Модуль упругости при растяжении </legend>
		В диапазоне от     67 до 80
		<input name = "experience7" placeholder="Например 73" type = "number" required>

		<legend> Введите значение Прочность при растяжении, МПа </legend>
		В диапазоне от 1250 до 3700
		<input name = "experience8" placeholder="Например 2467" type = "number" required>

		<legend> Введите значение Потребление смолы, г/м2 </legend>
		В диапазоне от    64 до 350
		<input name = "experience9" placeholder="Например 217" type = "number" required>

		<legend> Введите значение Угол нашивки, град </legend>
		0 или 1    (0=0гр., 1=90 гр.
		<input name = "experience10" placeholder="Либо 1, либо 0" type = "number" required>

		<legend> Введите значение Шаг нашивки </legend>
		В диапазоне     от 1 до 13
		<input name = "experience11" placeholder="Например 7" type = "number" required>

		<legend> Введите значение Плотность нашивки </legend>
		В диапазоне      от 28 до 85
		<input name = "experience12" placeholder="Например 57" type = "number" required>
		<br>
        <br>
        <input type="submit" style="font-size:20px" value="Отправить на расчёт соотношения матрица\наполнитель">
    </fieldset>
</form>
</td><td>

<div class = "result" align = "center"></div>

   	{% if result %}
    <p style="font-family: Times New Roman,Times,serif;"</p>
	<p style="font-size:24px">	Прогнозное значение матрица\наполнитель	</p>
	<p style="font-size:50px"> {{result}}</p>
    {% endif %}


   
    {% if alarm_to %}
    <p style="font-family: Times New Roman,Times,serif;"</p>
    <p><span style="color: red; font-size: 24px">Введены превышающие значения:</span></p>
	<p><span style="color: red; font-size: 14px"> {{alarm_to}} </span></p>
    {% endif %}

 
    {% if data %}
    <p style="font-family: Times New Roman,Times,serif;"</p>
	<p style="font-size:24px">	Рассчитано на основе введённых данных:	</p>
	<p style="font-size:14px"> {{data}}</p>
    {% endif %}
    
</td></tr> <!--ряд с ячейками тела таблицы-->
</table>
<div>
<p>
    <span style="font-size:24px, font-family: Times New Roman,Times,serif;">
   
    <span class="footer">
        <em> Приложение разработал слушатель курса Data Science </em>
        <em> Образовательного центра МГТУ им. Н.Э. Баумана  А.Е.Соболев,  Москва 2023 г.</em>
    </span></span> 

</p>
</div>
</tbody>
</html>
