<!doctype html>
<html lang="ru">
<head> 
	<meta charset="utf-8" />
	<title> Прогнозирование свойств композитов </title>
</head>
<body>
	<tr><td>
	<form action = "{{url_for('main')}}" method = "POST">
	<h1 align = "center">  Прогноз соотношения матрица/наполнитель: </h1>
	</form>
	</td><td>
	
	{% if result %}
		<p style="font-family: Times New Roman,Times,serif;"</p>
		<p style="font-size:24px"> Прогнозное значение матрица\наполнител </p>
		<p style="font-size:50px"> {{result}}</p>
    	{% endif %}
</tbody>
</html>
